*{
direction: rtl;
   font-family: tahoma;
}
body{
background-color: #1d3557;
}
aside{
    width: 150px;
    height: 300px;
    padding: 10px;
float: left;
margin-bottom:  5px;
padding: 10px;
background-color: white;
}
header{
     background-color:#A8DADC;
list-style:none ;    
padding: 0px;
display: flex;
}

article{
  
    color: black;
}

.box{
    width: 300px;
    height: 400px;
    background-color:rgb(254, 254, 255) ;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
}
bottom-text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
h2{
  direction: ltr;
    list-style: none;
display: flex;
}
img{
border-radius: 10px;

}
h1{
    direction: ltr;
}
.container{
    display: flex;
    gap: 20px;
}
.box{
    width: 300px;
    height:400px;
    background-color: #eee;
    border-radius: 15px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    display: block;
}

/* منوی بازشونده */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 180px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

/* گزینه‌های داخل منو */
.dropdown-content a {
    display: block;
    color: #222;
    padding: 12px 16px;
}

/* وقتی موس روی محصولات میره */
.dropdown:hover .dropdown-content {
    display: block;
}

/* افکت هاور */
.dropdown-content a:hover {
    background: #f1f1f1;
}